html{
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    width: inherit;
    height: inherit;
    background-image: radial-gradient(#32ad60e8, #000000e8);
}
.body-back{
    height: inherit;
    background-image:url(weather_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px;
}

.body-left{
    height: inherit;
    float: left;
    padding: 15px;
   }
   
   .body-right{

    float: right;
   height: inherit;
   color:snow;
   text-shadow: black;
   padding: 15px;
   padding-right: 0;
   padding-top: 0;
   width: 35%;
   backdrop-filter: blur(5px);
   }



.deg { 
    display: inline-block;
    width: fit-content;
    height: 100%;
    color: white;
    font-style: sans-serif;
    padding-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4{
    color: white;
}
.left-sub1{
  margin-left: 25px;
  height: 69%;
}
.left-sub2{
    margin-left: 25px;
    
  }

.eight{
    font-size: 80px;
    
}
.city{
    font-size: 50px;
}

.date-time{
    font-size: medium;
}

.right-sub1{
 height: 50%;
}

.right-sub2{
height: 49%;
}

ul{
    list-style: none;

}

b{
    width: 50%;
    float: right;
    color: white;
}

hr{
    border-top:  1px solid rgb(50 127 81);
}
li{
    margin-bottom: 20px;
    text-shadow: 3px black;
} 

.search{
    display: inline-block;
    height: 100%;
    padding: 25px;
    padding-bottom: 0px;
    
}
.icon{
    height: 100%;
    float: right;
    display: inline-block;
}

.fa{
    padding: 14px;
    font-size: 24px;
    background-color: seagreen;
}

@media  screen and (max-width: 900px) {

    .body-left{
        width: inherit;
        height: fit-content;
        padding: 15px;
       }

       body{
        background-image:url(weather_background.jpg);
       }
       .body-back{
        width: 100%;
        height: 100%;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
    }
       .body-right{
       width: 100%;
       height: fit-content;
       color:snow;
       text-shadow: black;
       padding: 15px;
       padding-right: 0;
       padding-top: 0;
       backdrop-filter: blur(2px);
       }

       .right-sub1{
        height: 45%;
       }
       
       .right-sub2{
       height: 50%;
       }
    
}